@inherits LayoutComponentBase

<header>
    <h1><NavLink class="nav-link" href="" Match="NavLinkMatch.All"><span class="oi oi-home" aria-hidden="true"></span> Online hasher</NavLink></h1>
</header>

<main>
    @Body
</main>

<footer>
    <p>
        Powered by <a href="https://blazor.net">Blazor</a>, forked from  <a href="https://madskristensen.net/">Mads Kristensen</a>, with source on <a href="https://github.com/danelliott/OnlineHasher">GitHub</a>
    </p>
</footer>